header{
    background-color: #FFE7BA;
}

li{
    color: #003459;
}
.nav{
    background-color:  #FFE7BA;
}
.qidiruv{
vertical-align: middle;
}
.input{
    outline-color: white;
}
.lupa{
    border-radius: 15px;
    border: 2px solid white;
    background-color: white;
    padding: 0.1rem 0.8rem;
}
.header_text{
    width: 100%;
    max-width: 500px;
    h1{
        color: #242B33;
        font-size: 55px;
    }
    .H_one{
        color: #242B33;
        font-size: 55px;
    }
    h2{
        color: #242B33;
        font-size: 40px;
        margin-bottom: 20px;
    }
    p{
        color: #242B33;
        font-size: 16px;
        line-height: 1.8rem;
    }
}
.media{
    vertical-align: middle;
}
.header_two{
    width: 100%;
    max-width: 700px;
}